html {
  /* These apply to all elements */

  height: 100%;
  width: 100%;

  /* color variables */
  --textcolor: #d1d1d1;

  --firstcolor: #1d1d20;
  --secondcolor: #598392;
  --thirdcolor: #aec3b0;
  --fourthcolor: #eff6e0;
  --fifthcolor: #8e5572;
  --fifthcolor2: #c97b84;

  /* font variables */
  --welcomesize: 6rem;
  --welcomeweight: 200;
  --titlesize: 2rem;
  --textsize: 1.1rem;
  --textweight: 300;

  /* debuggin variables */
  --blackborder: 1px black solid;
  --whiteborder: 1px white solid;
  --redborder: 1px red solid;
  --orangeborder: 1px orange solid;
  --yellowborder: 1px yellow solid;
  --greenborder: 1px lightgreen solid;
  --blueborder: 1px lightblue solid;
  --purpleborder: 1px lavender solid;
  --pinkborder: 1px pink solid;

  /* TRANSION SPEED  -------------------- */
  --transitionspeedfast: 0.3s;
  --transitionspeedmid: 0.5s;
  /* --transitionspeed: 0.7s; */

  box-sizing: border-box;
}

body {
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--firstcolor);
  color: var(--textcolor);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#root {
  padding: 10px;

  /* border: var(--whiteborder); */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

svg {
  fill: var(--textcolor);
  height: 50px;
  opacity: 0.5;
  transition: var(--transitionspeedmid);
}

svg:hover {
  opacity: 0.9;
}
ul {
  padding: 0;
  list-style-type: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 50px;
  margin: 0px;
}

.logo {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  transition-duration: 0.5s;
}

.logo:hover {
  transform: scale(2, 2);
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadowed-box {
  /* background: #131419; */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(209, 209, 209, 0.3);
  transition: var(--transitionspeedmid);

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.content-box {
  /* border: var(--redborder); */
  display: flex;
  /* flex-direction: column; */
  align-self: stretch;
  min-height: 650px;
  max-width: 1280px;
}
.shadowed-box:hover {
  /* background: #131419; */
  /* box-shadow: 0px 0px 15px var(--textcolor); */
  box-shadow: 0px 0px 15px rgba(209, 209, 209, 1);

  /* box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    -5px -5px 15px rgba(0, 0, 0, 0.05); */
  /* border: var(--whiteborder); */
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding: 50px; */
  width: 65%;
  height: auto;
  /* border: var(--redborder); */
}

.list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  /* border: var(--whiteborder); */
}

.welcome {
  font-size: var(--welcomesize);
  font-weight: var(--welcomeweight);
  margin: 0px;
  padding-bottom: 10px;
  letter-spacing: 2;
}

.para-text {
  border-left: 2px rgba(209, 209, 209, 0.5) solid;
  padding-left: 20px;
}
.project-title {
  font-size: var(--titlesize);
  font-weight: var(--titleweight);
  margin-top: 35px;
}

.hidden {
  opacity: 0;

  /* border: var(--whiteborder); */
}

.details-holder {
  /* background-color: red; */
  max-width: 85%;
  height: auto;
  position: relative;
  /* border: var(--whiteborder); */
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  opacity: 0.5;
  font-size: 0.9rem;
}
