.absolute-positioning {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
}

/* these two are only used for the welcome details */
/* open with anchor left*/
.open-left-trans {
  transform: scaleX(1);
  transform-origin: left;
  transition: var(--transitionspeedfast);
}

/* closed with anchor left*/
.closed-left-trans {
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transitionspeedfast);
}

/* these below are used for the project details */
/* closed with anchor right*/
.closed-right {
  transform: scaleX(0);
  transform-origin: right;
}

/* closing with anchor right*/
.closed-right-trans {
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transitionspeedfast);
}

/* opened with anchor right */
.open-right {
  transform: scaleX(1);
  transform-origin: right;
}

/* opening with anchor right */
.open-right-trans {
  transform: scaleX(1);
  transform-origin: right;
  transition: var(--transitionspeedfast);
}

/* opened with anchor left */
.open-left {
  transform: scaleX(1);
  transform-origin: left;
}

/* closing with anchor left */
.closed-left-trans {
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transitionspeedfast);
}

/* SWITCH TO BOTTOM/TOP WHEN SCREEN IS SMALL */
@media (max-width: 950px) {
  .open-left-trans {
    transform: scaleY(1);
    transform-origin: top;
  }

  /* closed with anchor left*/
  .closed-left-trans {
    transform: scaleY(0);
    transform-origin: top;
  }

  /* these below are used for the project details */
  /* closed with anchor right*/
  .closed-right {
    transform: scaleY(0);
    transform-origin: bottom;
  }

  /* closing with anchor right*/
  .closed-right-trans {
    transform: scaleY(0);
    transform-origin: bottom;
  }

  /* opened with anchor right */
  .open-right {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  /* opening with anchor right */
  .open-right-trans {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  /* opened with anchor left */
  .open-left {
    transform: scaleY(1);
    transform-origin: top;
  }

  /* closing with anchor left */
  .closed-left-trans {
    transform: scaleY(0);
    transform-origin: top;
  }
}

.project-links {
  font-size: var(--textsize);
  font-weight: var(--textweight);

  padding-left: var(--leftborderpadding);

  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;

  /* border: var(--pinkborder); */
}

.project-link {
  color: var(--textColor);
  padding: 2px;
  border-bottom: 2px rgba(209, 209, 209, 0.5) solid;
  cursor: pointer;
  transition: var(--transitionspeedfast);
  text-decoration: none;

  /* border: var(--redborder); */
}

.para-text {
  padding-left: var(--leftborderpadding);
}
.project-title {
  font-size: var(--titlesize);
  font-weight: var(--titleweight);
  margin-top: 35px;
}

.project-outline {
  border-left: 2px rgba(209, 209, 209, 0.5) solid;
}
