html {
  /* These apply to all elements */

  height: 100%;
  width: 100%;

  /* color variables */
  --firstcolor: #1d1d20;
  --secondcolor: #598392;
  --thirdcolor: #aec3b0;
  --fourthcolor: #eff6e0;
  --fifthcolor: #8e5572;
  --fifthcolor2: #c97b84;
  --textcolor: #d1d1d1;

  /* font variables */
  --welcomesize: 5rem;
  --welcomeweight: 200;
  --titlesize: 2rem;
  --totleweight: 200;
  --textsize: 1.1rem;
  --textweight: 300;

  /* debuggin variables */
  --blackborder: 1px black solid;
  --whiteborder: 1px white solid;
  --redborder: 1px red solid;
  --orangeborder: 1px orange solid;
  --yellowborder: 1px yellow solid;
  --greenborder: 1px lightgreen solid;
  --blueborder: 1px lightblue solid;
  --purpleborder: 1px lavender solid;
  --pinkborder: 1px pink solid;

  /* TRANSION SPEED  -------------------- */
  --transitionspeed: 0.3s;

  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--firstcolor);
  color: var(--textcolor);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  height: 100%;
  width: 100%;
  margin: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 50px;
  padding-inline: 50px;
  margin: 0px;

  /* border:var(--whiteborder) */
}

nav a {
  color: inherit;
}

.logo {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo:hover {
  transform: scale(2, 2);
  transition-duration: 0.5s;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  max-width: 1280px;
  flex-grow: 1;

  /* border: var(--whiteborder); */
}

.left_visible {
  transform: scaleX(1);
  transform-origin: left;
  transition: var(--transitionspeed);
}
.left_gone {
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transitionspeed);
}

.right_visible {
  transform: scaleX(1);
  transform-origin: right;
  transition: var(--transitionspeed);
}
.right_gone {
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transitionspeed);
}

.text1 {
  left: 0;
  top: 0;
  position: absolute;
}

/* closed with anchor right*/
.test0 {
  transform: scaleX(0);
  transform-origin: right;
}

/* closing with anchor right*/
.test1 {
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transitionspeed);
}

/* opened with anchor right */
.test2 {
  transform: scaleX(1);
  transform-origin: right;
}

/* opening with anchor right */
.test3 {
  transform: scaleX(1);
  transform-origin: right;
  transition: var(--transitionspeed);
}

/* opened with anchor left */
.test4 {
  transform: scaleX(1);
  transform-origin: left;
}

/* closing with anchor left */
.test5 {
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transitionspeed);
}

.content-box {
  display: flex;
  /* flex-direction: column; */
  min-height: 750px;

  /* border: var(--blackborder); */
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding: 50px; */
  width: 65%;
  height: auto;
  /* border: var(--redborder); */
}

.list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  /* border: var(--whiteborder); */
}

.welcome {
  font-size: var(--welcomesize);
  font-weight: var(--welcomeweight);
  margin: 0px;
}

.project-title {
  font-size: var(--titlesize);
  font-weight: var(--titleweight);
  margin-top: 35px;
}

.hidden {
  opacity: 0;

  /* border: var(--whiteborder); */
}

.details-holder {
  /* background-color: red; */
  max-width: 85%;
  height: auto;
  position: relative;
  /* border: var(--whiteborder); */
}

.zero {
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transitionspeed);
}

.one {
  transform: scaleX(1);
  transform-origin: right;
  transition: var(--transitionspeed);
}

.two {
  transform-origin: left;
}
/* asd

eerie black
#1d1d20

blue
#598392 

green grey
#aec3b0

beige
#eff6e0

magenta
#8e5572
or
salmon color
#c97b84

*/
